---
layout: layouts/base.njk
title: "Misión y valores"
lang: es
activeNav: "mision-y-valores"
bodyClasses: "wp-singular page-template-default page page-id-142 wp-custom-logo wp-embed-responsive wp-theme-astra translatepress-es_ES ast-desktop ast-plain-container ast-no-sidebar astra-4.13.1 ast-single-post ast-inherit-site-logo-transparent ast-hfb-header ast-full-width-primary-header"
pageInlineStyles: ".wp-elements-c31eedbe16f1fa5d475f384a453f4402 a:where(:not(.wp-element-button)){color:var(--wp--preset--color--ast-global-color-5);}.wp-elements-89925991718abb90f1508bc44de4b1c2 a:where(:not(.wp-element-button)){color:var(--wp--preset--color--ast-global-color-5);}.wp-elements-f2d30c163ab0bd003a18fa3f3ca884dc a:where(:not(.wp-element-button)){color:var(--wp--preset--color--ast-global-color-5);}.wp-elements-438b039e7a845346d1ee45610322fa93 a:where(:not(.wp-element-button)){color:var(--wp--preset--color--ast-global-color-5);} /*# sourceURL=core-block-supports-inline-css */"
permalink: "/mision-y-valores/index.html"
---
<div class="entry-content clear" data-ast-blocks-layout="true" itemprop="text">
<figure class="wp-block-image aligncenter size-full"><img fetchpriority="high" decoding="async" width="927" height="194" src="././assets/images/2024/12/pasted-image-0.png" alt="" class="wp-image-58" srcset="././assets/images/2024/12/pasted-image-0.png 927w, ././assets/images/2024/12/pasted-image-0-300x63.png 300w, ././assets/images/2024/12/pasted-image-0-768x161.png 768w" sizes="(max-width: 927px) 100vw, 927px"></figure>

<p class="has-text-align-left has-ast-global-color-5-color has-text-color has-background has-link-color wp-elements-c31eedbe16f1fa5d475f384a453f4402" style="border-style:none;border-width:0px;border-radius:14px;background-color:#0b3d59;margin-top:var(--wp--preset--spacing--20);margin-right:0;margin-bottom:var(--wp--preset--spacing--20);margin-left:0;padding-top:var(--wp--preset--spacing--20);padding-right:var(--wp--preset--spacing--20);padding-bottom:var(--wp--preset--spacing--20);padding-left:var(--wp--preset--spacing--20);font-size:35px"><strong>Nuestra misión</strong></p>

<p>Promover el entendimiento internacional la cooperación y la confianza entre, por ejemplo, estudiantes, instituciones académicas, empresarios y la comunidad en general.<br>Ofrecer un programa de formación práctica de alta calidad entre los Miembros Instituciones Cooperantes para mejorar el desarrollo técnico y profesional de la sociedad.<br>Operar con independencia del origen étnico, la cultura sexo, orientación sexual, identidad o identidad o expresión de género, creencias religiosas o políticas, y discapacidad.<br></p>

<p class="has-text-align-left has-ast-global-color-5-color has-text-color has-background has-link-color wp-elements-89925991718abb90f1508bc44de4b1c2" style="border-style:none;border-width:0px;border-radius:14px;background-color:#0b3d59;margin-top:var(--wp--preset--spacing--20);margin-right:0;margin-bottom:var(--wp--preset--spacing--20);margin-left:0;padding-top:var(--wp--preset--spacing--20);padding-right:var(--wp--preset--spacing--20);padding-bottom:var(--wp--preset--spacing--20);padding-left:var(--wp--preset--spacing--20);font-size:35px"><strong><strong>Nuestros objetivos</strong></strong></p>

<p>Proporcionar a los estudiantes de enseñanza superior experiencia técnica relacionada con sus estudios.<br>Ofrecer a los empresarios becarios y motivados.<br>Ser una fuente de enriquecimiento cultural para los becarios y sus comunidades de acogida.</p>

<p class="has-text-align-left has-ast-global-color-5-color has-text-color has-background has-link-color wp-elements-f2d30c163ab0bd003a18fa3f3ca884dc" style="border-style:none;border-width:0px;border-radius:14px;background-color:#0b3d59;margin-top:var(--wp--preset--spacing--20);margin-right:0;margin-bottom:var(--wp--preset--spacing--20);margin-left:0;padding-top:var(--wp--preset--spacing--20);padding-right:var(--wp--preset--spacing--20);padding-bottom:var(--wp--preset--spacing--20);padding-left:var(--wp--preset--spacing--20);font-size:35px"><strong><strong><strong>Nuestra visión</strong></strong></strong></p>

<p>Tendemos puentes entre todas las culturas a través de la experiencia técnica.<br>Nuestra misión, visión, objetivos y valores</p>

<p class="has-text-align-left has-ast-global-color-5-color has-text-color has-background has-link-color wp-elements-438b039e7a845346d1ee45610322fa93" style="border-style:none;border-width:0px;border-radius:14px;background-color:#0b3d59;margin-top:var(--wp--preset--spacing--20);margin-right:0;margin-bottom:var(--wp--preset--spacing--20);margin-left:0;padding-top:var(--wp--preset--spacing--20);padding-right:var(--wp--preset--spacing--20);padding-bottom:var(--wp--preset--spacing--20);padding-left:var(--wp--preset--spacing--20);font-size:35px"><strong><strong><strong><strong>Nuestros valore</strong>s</strong></strong></strong></p>

<p>En IAESTE nos comprometemos a fomentar el entendimiento internacional y forjar el futuro de la juventud. Nuestros valores fundamentales son confianza, compromiso, diversidad, crecimiento y amistad.</p>

<p></p>

</div>
</div>