---
layout: layouts/base.njk
title: "Data protection policy"
lang: en
bodyClasses: "wp-singular page-template-default page page-id-3 wp-custom-logo wp-embed-responsive wp-theme-astra translatepress-en_US ast-desktop ast-plain-container ast-no-sidebar astra-4.13.1 ast-single-post ast-inherit-site-logo-transparent ast-hfb-header ast-full-width-primary-header"
permalink: "/en/politica-de-proteccion-de-datos/index.html"
---
<div class="entry-content clear" data-ast-blocks-layout="true" itemprop="text">
<p>The Management / Governing Body of <strong>IAESTE SPAIN</strong> (hereinafter, the data controller), assumes maximum responsibility and commitment to the establishment, implementation and maintenance of this Data Protection Policy, guaranteeing the continuous improvement of the data controller with the aim of achieving excellence in compliance with Regulation (EU) 2016/679 of the European Parliament and of the Council of 27 April 2016 on the protection of natural persons with regard to the processing of personal data and on the free movement of such data, and repealing Directive 95/46/EC (General Data Protection Regulation) (OJ L 119/1, 04-05-2016), and Spanish personal data protection regulations (Organic Law, specific sectoral legislation and its implementing rules).</p>

<p>The Data Protection Policy of <strong>IAESTE SPAIN</strong> is based on the principle of proactive responsibility, whereby the data controller is responsible for compliance with the regulatory and jurisprudential framework governing this Policy, and is able to demonstrate this to the competent supervisory authorities.</p>

<p>In this regard, the data controller shall be governed by the following principles that should serve all its personnel as a guide and reference framework in the processing of personal data:</p>

<ol class="wp-block-list">
<li>Data protection by design: the data controller shall apply, both at the time of determining the processing means and at the time of the processing itself, appropriate technical and organizational measures, such as pseudonymization, designed to effectively apply data protection principles, such as data minimization, and to integrate the necessary safeguards into the processing.</li>
</ol>

<ul class="wp-block-list">
<li>Data protection by default: the controller shall implement appropriate technical and organizational measures to ensure that, by default, only personal data which are necessary for each specific purpose of the processing are processed.</li>

<li>Data protection throughout the information life cycle: measures ensuring the protection of personal data shall be applicable throughout the complete information life cycle.</li>

<li>Lawfulness, fairness and transparency: personal data shall be processed lawfully, fairly and in a transparent manner in relation to the data subject.</li>

<li>Purpose limitation: personal data shall be collected for specified, explicit and legitimate purposes and shall not be further processed in a manner incompatible with those purposes.</li>

<li>Data minimization: personal data shall be adequate, relevant and limited to what is necessary in relation to the purposes for which they are processed.</li>

<li>Accuracy: personal data shall be accurate and, where necessary, kept up to date; every reasonable step must be taken to ensure that personal data that are inaccurate, having regard to the purposes for which they are processed, are erased or rectified without delay.</li>

<li>Storage limitation: personal data shall be kept in a form which permits identification of data subjects for no longer than is necessary for the purposes of the processing of personal data.</li>

<li>Integrity and confidentiality: personal data shall be processed in a manner that ensures appropriate security of the personal data, including protection against unauthorized or unlawful processing and against accidental loss, destruction or damage, using appropriate technical or organizational measures.</li>
</ul>

<ol class="wp-block-list">
<li>Information and training: one of the keys to guaranteeing the protection of personal data is the training and information provided to the personnel involved in their processing. Throughout the information life cycle, all personnel with access to data will be appropriately trained and informed about their obligations regarding compliance with data protection regulations.</li>
</ol>

<p>The Data Protection Policy of <strong>IAESTE SPAIN</strong> is communicated to all personnel of the data controller and made available to all interested parties.</p>

<p>Consequently, this Data Protection Policy involves all personnel of the data controller, who must know and assume it, considering it as their own, each member being responsible for applying it and verifying the data protection rules applicable to their activity, as well as identifying and contributing the improvement opportunities they consider appropriate with the aim of achieving excellence in relation to its compliance.</p>

<p>This Policy will be reviewed by the Management / Governing Body of <strong>IAESTE SPAIN</strong>, as many times as deemed necessary, to adapt, at all times, to the current provisions on personal data protection.</p>

<p></p>

</div>
</div>