---
layout: layouts/base.njk
title: "FAQ"
lang: en
activeNav: "faq"
bodyClasses: "wp-singular page-template-default page page-id-91 wp-custom-logo wp-embed-responsive wp-theme-astra translatepress-en_US ast-desktop ast-plain-container ast-no-sidebar astra-4.13.1 ast-single-post ast-inherit-site-logo-transparent ast-hfb-header ast-full-width-primary-header"
permalink: "/en/faq/index.html"
---
<div class="entry-content clear" data-ast-blocks-layout="true" itemprop="text">
<div class="faq-page-wrap">
								<h1 class="wp-block-heading">FAQ</h1>

								<div class="faq-section">
									<h2 class="wp-block-heading">FAQ Students</h2>
									<div class="wp-block-uagb-faq uagb-faq__outer-wrap uagb-faq-layout-accordion uagb-faq__wrap uagb-faq-icon-row" data-faqtoggle="true" role="tablist">

										<div class="wp-block-uagb-faq-child uagb-faq-child__outer-wrap uagb-faq-item" role="tab" tabindex="0" aria-expanded="false">
											<div class="uagb-faq-questions-button uagb-faq-questions">
												<span class="uagb-icon uagb-faq-icon-wrap"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M432 256c0 17.69-14.33 32.01-32 32.01H256v144c0 17.69-14.33 31.99-32 31.99s-32-14.3-32-31.99v-144H48c-17.67 0-32-14.32-32-32.01s14.33-31.99 32-31.99H192v-144c0-17.69 14.33-32.01 32-32.01s32 14.32 32 32.01v144h144C417.7 224 432 238.3 432 256z"></path></svg></span>
												<span class="uagb-icon-active uagb-faq-icon-wrap"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M400 288h-352c-17.69 0-32-14.32-32-32.01s14.31-31.99 32-31.99h352c17.69 0 32 14.3 32 31.99S417.7 288 400 288z"></path></svg></span>
												<span class="uagb-question"><strong>How long do the internships last?</strong></span>
											</div>
											<div class="uagb-faq-content" style="display: none;">
												<p>The duration is variable and ranges from 6 weeks to one year.</p>
											</div>
										</div>

										<div class="wp-block-uagb-faq-child uagb-faq-child__outer-wrap uagb-faq-item" role="tab" tabindex="0" aria-expanded="false">
											<div class="uagb-faq-questions-button uagb-faq-questions">
												<span class="uagb-icon uagb-faq-icon-wrap"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M432 256c0 17.69-14.33 32.01-32 32.01H256v144c0 17.69-14.33 31.99-32 31.99s-32-14.3-32-31.99v-144H48c-17.67 0-32-14.32-32-32.01s14.33-31.99 32-31.99H192v-144c0-17.69 14.33-32.01 32-32.01s32 14.32 32 32.01v144h144C417.7 224 432 238.3 432 256z"></path></svg></span>
												<span class="uagb-icon-active uagb-faq-icon-wrap"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M400 288h-352c-17.69 0-32-14.32-32-32.01s14.31-31.99 32-31.99h352c17.69 0 32 14.3 32 31.99S417.7 288 400 288z"></path></svg></span>
												<span class="uagb-question"><strong>Which countries can I go to for internships?</strong></span>
											</div>
											<div class="uagb-faq-content" style="display: none;">
												<p>IAESTE not only works in Europe, there are more than 80 member countries where you can do your internships and live incredible experiences. You can check the member countries here.</p>
											</div>
										</div>

										<div class="wp-block-uagb-faq-child uagb-faq-child__outer-wrap uagb-faq-item" role="tab" tabindex="0" aria-expanded="false">
											<div class="uagb-faq-questions-button uagb-faq-questions">
												<span class="uagb-icon uagb-faq-icon-wrap"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M432 256c0 17.69-14.33 32.01-32 32.01H256v144c0 17.69-14.33 31.99-32 31.99s-32-14.3-32-31.99v-144H48c-17.67 0-32-14.32-32-32.01s14.33-31.99 32-31.99H192v-144c0-17.69 14.33-32.01 32-32.01s32 14.32 32 32.01v144h144C417.7 224 432 238.3 432 256z"></path></svg></span>
												<span class="uagb-icon-active uagb-faq-icon-wrap"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M400 288h-352c-17.69 0-32-14.32-32-32.01s14.31-31.99 32-31.99h352c17.69 0 32 14.3 32 31.99S417.7 288 400 288z"></path></svg></span>
												<span class="uagb-question"><strong>How much is the internship remuneration?</strong></span>
											</div>
											<div class="uagb-faq-content" style="display: none;">
												<p>All internships are paid. The remuneration depends on the cost of living in the country and is provided to cover subsistence expenses, which will at least include accommodation, food and transport.</p>
											</div>
										</div>

										<div class="wp-block-uagb-faq-child uagb-faq-child__outer-wrap uagb-faq-item" role="tab" tabindex="0" aria-expanded="false">
											<div class="uagb-faq-questions-button uagb-faq-questions">
												<span class="uagb-icon uagb-faq-icon-wrap"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M432 256c0 17.69-14.33 32.01-32 32.01H256v144c0 17.69-14.33 31.99-32 31.99s-32-14.3-32-31.99v-144H48c-17.67 0-32-14.32-32-32.01s14.33-31.99 32-31.99H192v-144c0-17.69 14.33-32.01 32-32.01s32 14.32 32 32.01v144h144C417.7 224 432 238.3 432 256z"></path></svg></span>
												<span class="uagb-icon-active uagb-faq-icon-wrap"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M400 288h-352c-17.69 0-32-14.32-32-32.01s14.31-31.99 32-31.99h352c17.69 0 32 14.3 32 31.99S417.7 288 400 288z"></path></svg></span>
												<span class="uagb-question"><strong>How do I manage my arrival?</strong></span>
											</div>
											<div class="uagb-faq-content" style="display: none;">
												<p>You will not be alone. As a general rule, IAESTE members from the destination country will pick you up at the airport, and if you request it, they will find accommodation and accompany you to the workplace. You will be able to communicate with the Local Committee to resolve any questions that may arise once you are accepted.</p>
											</div>
										</div>

										<div class="wp-block-uagb-faq-child uagb-faq-child__outer-wrap uagb-faq-item" role="tab" tabindex="0" aria-expanded="false">
											<div class="uagb-faq-questions-button uagb-faq-questions">
												<span class="uagb-icon uagb-faq-icon-wrap"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M432 256c0 17.69-14.33 32.01-32 32.01H256v144c0 17.69-14.33 31.99-32 31.99s-32-14.3-32-31.99v-144H48c-17.67 0-32-14.32-32-32.01s14.33-31.99 32-31.99H192v-144c0-17.69 14.33-32.01 32-32.01s32 14.32 32 32.01v144h144C417.7 224 432 238.3 432 256z"></path></svg></span>
												<span class="uagb-icon-active uagb-faq-icon-wrap"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M400 288h-352c-17.69 0-32-14.32-32-32.01s14.31-31.99 32-31.99h352c17.69 0 32 14.3 32 31.99S417.7 288 400 288z"></path></svg></span>
												<span class="uagb-question"><strong>How much will the program cost me?</strong></span>
											</div>
											<div class="uagb-faq-content" style="display: none;">
												<p>If accepted for an internship, processing the related documentation entails a cost of €220 (€320 for centers not associated with the program) on the part of the student.</p>
											</div>
										</div>

										<div class="wp-block-uagb-faq-child uagb-faq-child__outer-wrap uagb-faq-item" role="tab" tabindex="0" aria-expanded="false">
											<div class="uagb-faq-questions-button uagb-faq-questions">
												<span class="uagb-icon uagb-faq-icon-wrap"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M432 256c0 17.69-14.33 32.01-32 32.01H256v144c0 17.69-14.33 31.99-32 31.99s-32-14.3-32-31.99v-144H48c-17.67 0-32-14.32-32-32.01s14.33-31.99 32-31.99H192v-144c0-17.69 14.33-32.01 32-32.01s32 14.32 32 32.01v144h144C417.7 224 432 238.3 432 256z"></path></svg></span>
												<span class="uagb-icon-active uagb-faq-icon-wrap"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M400 288h-352c-17.69 0-32-14.32-32-32.01s14.31-31.99 32-31.99h352c17.69 0 32 14.3 32 31.99S417.7 288 400 288z"></path></svg></span>
												<span class="uagb-question"><strong>What should I do to get an internship?</strong></span>
											</div>
											<div class="uagb-faq-content" style="display: none;">
												<p>The foundation of the program lies in obtaining an internship for a foreigner in your city in order to exchange it for another one that a student has obtained in their home country under similar conditions.<br>The more companies are obtained in your city, the more people from it can go on internships.<br>Each Local Committee establishes its own criteria to select the order in which members can access internships based on the work done for the association. Contact them to request more information about this.</p>
											</div>
										</div>

										<div class="wp-block-uagb-faq-child uagb-faq-child__outer-wrap uagb-faq-item" role="tab" tabindex="0" aria-expanded="false">
											<div class="uagb-faq-questions-button uagb-faq-questions">
												<span class="uagb-icon uagb-faq-icon-wrap"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M432 256c0 17.69-14.33 32.01-32 32.01H256v144c0 17.69-14.33 31.99-32 31.99s-32-14.3-32-31.99v-144H48c-17.67 0-32-14.32-32-32.01s14.33-31.99 32-31.99H192v-144c0-17.69 14.33-32.01 32-32.01s32 14.32 32 32.01v144h144C417.7 224 432 238.3 432 256z"></path></svg></span>
												<span class="uagb-icon-active uagb-faq-icon-wrap"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M400 288h-352c-17.69 0-32-14.32-32-32.01s14.31-31.99 32-31.99h352c17.69 0 32 14.3 32 31.99S417.7 288 400 288z"></path></svg></span>
												<span class="uagb-question"><strong>How do I sign up?</strong></span>
											</div>
											<div class="uagb-faq-content" style="display: none;">
												<p>If the program has convinced you, do not hesitate to contact your Center or Local Committee by email to find out the next steps.</p>
											</div>
										</div>

										<div class="wp-block-uagb-faq-child uagb-faq-child__outer-wrap uagb-faq-item" role="tab" tabindex="0" aria-expanded="false">
											<div class="uagb-faq-questions-button uagb-faq-questions">
												<span class="uagb-icon uagb-faq-icon-wrap"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M432 256c0 17.69-14.33 32.01-32 32.01H256v144c0 17.69-14.33 31.99-32 31.99s-32-14.3-32-31.99v-144H48c-17.67 0-32-14.32-32-32.01s14.33-31.99 32-31.99H192v-144c0-17.69 14.33-32.01 32-32.01s32 14.32 32 32.01v144h144C417.7 224 432 238.3 432 256z"></path></svg></span>
												<span class="uagb-icon-active uagb-faq-icon-wrap"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M400 288h-352c-17.69 0-32-14.32-32-32.01s14.31-31.99 32-31.99h352c17.69 0 32 14.3 32 31.99S417.7 288 400 288z"></path></svg></span>
												<span class="uagb-question"><strong>How can I contact my center?</strong></span>
											</div>
											<div class="uagb-faq-content" style="display: none;">
												<p>For any questions or comments, you can find the contacts of the centers and delegations on the <a href="https://www.iaeste.es/contacto/">contact website</a>.</p>
											</div>
										</div>

									</div>
								</div>

								<div class="faq-section">
									<h2 class="wp-block-heading">FAQ Companies</h2>
									<div class="wp-block-uagb-faq uagb-faq__outer-wrap uagb-faq-layout-accordion uagb-faq__wrap uagb-faq-icon-row" data-faqtoggle="true" role="tablist">

										<div class="wp-block-uagb-faq-child uagb-faq-child__outer-wrap uagb-faq-item" role="tab" tabindex="0" aria-expanded="false">
											<div class="uagb-faq-questions-button uagb-faq-questions">
												<span class="uagb-icon uagb-faq-icon-wrap"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M432 256c0 17.69-14.33 32.01-32 32.01H256v144c0 17.69-14.33 31.99-32 31.99s-32-14.3-32-31.99v-144H48c-17.67 0-32-14.32-32-32.01s14.33-31.99 32-31.99H192v-144c0-17.69 14.33-32.01 32-32.01s32 14.32 32 32.01v144h144C417.7 224 432 238.3 432 256z"></path></svg></span>
												<span class="uagb-icon-active uagb-faq-icon-wrap"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M400 288h-352c-17.69 0-32-14.32-32-32.01s14.31-31.99 32-31.99h352c17.69 0 32 14.3 32 31.99S417.7 288 400 288z"></path></svg></span>
												<span class="uagb-question"><strong>What is the duration of the internships?</strong></span>
											</div>
											<div class="uagb-faq-content" style="display: none;">
												<p>The company determines the duration of the internship. The duration can be from three months up to 18 months.</p>
											</div>
										</div>

										<div class="wp-block-uagb-faq-child uagb-faq-child__outer-wrap uagb-faq-item" role="tab" tabindex="0" aria-expanded="false">
											<div class="uagb-faq-questions-button uagb-faq-questions">
												<span class="uagb-icon uagb-faq-icon-wrap"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M432 256c0 17.69-14.33 32.01-32 32.01H256v144c0 17.69-14.33 31.99-32 31.99s-32-14.3-32-31.99v-144H48c-17.67 0-32-14.32-32-32.01s14.33-31.99 32-31.99H192v-144c0-17.69 14.33-32.01 32-32.01s32 14.32 32 32.01v144h144C417.7 224 432 238.3 432 256z"></path></svg></span>
												<span class="uagb-icon-active uagb-faq-icon-wrap"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M400 288h-352c-17.69 0-32-14.32-32-32.01s14.31-31.99 32-31.99h352c17.69 0 32 14.3 32 31.99S417.7 288 400 288z"></path></svg></span>
												<span class="uagb-question"><strong>Can we make a selection from several students?</strong></span>
											</div>
											<div class="uagb-faq-content" style="display: none;">
												<p>You do not have to worry about finding the perfect student, you just have to define the profile that best suits the company's needs. We will make that selection and present you with the student that best fits what you are looking for.</p>
											</div>
										</div>

										<div class="wp-block-uagb-faq-child uagb-faq-child__outer-wrap uagb-faq-item" role="tab" tabindex="0" aria-expanded="false">
											<div class="uagb-faq-questions-button uagb-faq-questions">
												<span class="uagb-icon uagb-faq-icon-wrap"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M432 256c0 17.69-14.33 32.01-32 32.01H256v144c0 17.69-14.33 31.99-32 31.99s-32-14.3-32-31.99v-144H48c-17.67 0-32-14.32-32-32.01s14.33-31.99 32-31.99H192v-144c0-17.69 14.33-32.01 32-32.01s32 14.32 32 32.01v144h144C417.7 224 432 238.3 432 256z"></path></svg></span>
												<span class="uagb-icon-active uagb-faq-icon-wrap"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M400 288h-352c-17.69 0-32-14.32-32-32.01s14.31-31.99 32-31.99h352c17.69 0 32 14.3 32 31.99S417.7 288 400 288z"></path></svg></span>
												<span class="uagb-question"><strong>What parameters can we choose?</strong></span>
											</div>
											<div class="uagb-faq-content" style="display: none;">
												<p>You can choose the student's field of study as well as their level, particular requirements (programming languages, required skills...) and language level. Filling out this form* details the required profile.</p>
											</div>
										</div>

										<div class="wp-block-uagb-faq-child uagb-faq-child__outer-wrap uagb-faq-item" role="tab" tabindex="0" aria-expanded="false">
											<div class="uagb-faq-questions-button uagb-faq-questions">
												<span class="uagb-icon uagb-faq-icon-wrap"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M432 256c0 17.69-14.33 32.01-32 32.01H256v144c0 17.69-14.33 31.99-32 31.99s-32-14.3-32-31.99v-144H48c-17.67 0-32-14.32-32-32.01s14.33-31.99 32-31.99H192v-144c0-17.69 14.33-32.01 32-32.01s32 14.32 32 32.01v144h144C417.7 224 432 238.3 432 256z"></path></svg></span>
												<span class="uagb-icon-active uagb-faq-icon-wrap"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M400 288h-352c-17.69 0-32-14.32-32-32.01s14.31-31.99 32-31.99h352c17.69 0 32 14.3 32 31.99S417.7 288 400 288z"></path></svg></span>
												<span class="uagb-question"><strong>What specialties are available?</strong></span>
											</div>
											<div class="uagb-faq-content" style="display: none;">
												<p>There are currently almost 20 general disciplines and multiple fields of study.</p>
											</div>
										</div>

										<div class="wp-block-uagb-faq-child uagb-faq-child__outer-wrap uagb-faq-item" role="tab" tabindex="0" aria-expanded="false">
											<div class="uagb-faq-questions-button uagb-faq-questions">
												<span class="uagb-icon uagb-faq-icon-wrap"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M432 256c0 17.69-14.33 32.01-32 32.01H256v144c0 17.69-14.33 31.99-32 31.99s-32-14.3-32-31.99v-144H48c-17.67 0-32-14.32-32-32.01s14.33-31.99 32-31.99H192v-144c0-17.69 14.33-32.01 32-32.01s32 14.32 32 32.01v144h144C417.7 224 432 238.3 432 256z"></path></svg></span>
												<span class="uagb-icon-active uagb-faq-icon-wrap"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M400 288h-352c-17.69 0-32-14.32-32-32.01s14.31-31.99 32-31.99h352c17.69 0 32 14.3 32 31.99S417.7 288 400 288z"></path></svg></span>
												<span class="uagb-question"><strong>Does participation in the program have any cost for the company?</strong></span>
											</div>
											<div class="uagb-faq-content" style="display: none;">
												<p>IAESTE acts as a mere intermediary, so the management has no cost.<br>The intern student will receive a minimum remuneration of 800 euros net per month from the company, so that they can cover their costs during the internship in our country.<br>The company will take care of the corresponding social security and income tax expenses.</p>
											</div>
										</div>

										<div class="wp-block-uagb-faq-child uagb-faq-child__outer-wrap uagb-faq-item" role="tab" tabindex="0" aria-expanded="false">
											<div class="uagb-faq-questions-button uagb-faq-questions">
												<span class="uagb-icon uagb-faq-icon-wrap"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M432 256c0 17.69-14.33 32.01-32 32.01H256v144c0 17.69-14.33 31.99-32 31.99s-32-14.3-32-31.99v-144H48c-17.67 0-32-14.32-32-32.01s14.33-31.99 32-31.99H192v-144c0-17.69 14.33-32.01 32-32.01s32 14.32 32 32.01v144h144C417.7 224 432 238.3 432 256z"></path></svg></span>
												<span class="uagb-icon-active uagb-faq-icon-wrap"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M400 288h-352c-17.69 0-32-14.32-32-32.01s14.31-31.99 32-31.99h352c17.69 0 32 14.3 32 31.99S417.7 288 400 288z"></path></svg></span>
												<span class="uagb-question"><strong>What is the period to offer internships?</strong></span>
											</div>
											<div class="uagb-faq-content" style="display: none;">
												<p>The company has total freedom to choose the deadlines that suit them. However, the periods with the highest volume of available students are in summer and at the beginning of the year.</p>
											</div>
										</div>

										<div class="wp-block-uagb-faq-child uagb-faq-child__outer-wrap uagb-faq-item" role="tab" tabindex="0" aria-expanded="false">
											<div class="uagb-faq-questions-button uagb-faq-questions">
												<span class="uagb-icon uagb-faq-icon-wrap"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M432 256c0 17.69-14.33 32.01-32 32.01H256v144c0 17.69-14.33 31.99-32 31.99s-32-14.3-32-31.99v-144H48c-17.67 0-32-14.32-32-32.01s14.33-31.99 32-31.99H192v-144c0-17.69 14.33-32.01 32-32.01s32 14.32 32 32.01v144h144C417.7 224 432 238.3 432 256z"></path></svg></span>
												<span class="uagb-icon-active uagb-faq-icon-wrap"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M400 288h-352c-17.69 0-32-14.32-32-32.01s14.31-31.99 32-31.99h352c17.69 0 32 14.3 32 31.99S417.7 288 400 288z"></path></svg></span>
												<span class="uagb-question"><strong>Is it possible to offer a contract to the student when the internship ends?</strong></span>
											</div>
											<div class="uagb-faq-content" style="display: none;">
												<p>That option is always open to negotiation between the company and the student.<br>Of course. This option will be subject to negotiation between the company and the student and will follow the conventional hiring procedure (outside the scope of IAESTE).</p>
											</div>
										</div>

									</div>
								</div>

								<div class="faq-section">
									<h2 class="wp-block-heading">FAQ Universities</h2>
									<div class="wp-block-uagb-faq uagb-faq__outer-wrap uagb-faq-layout-accordion uagb-faq__wrap uagb-faq-icon-row" data-faqtoggle="true" role="tablist">

										<div class="wp-block-uagb-faq-child uagb-faq-child__outer-wrap uagb-faq-item" role="tab" tabindex="0" aria-expanded="false">
											<div class="uagb-faq-questions-button uagb-faq-questions">
												<span class="uagb-icon uagb-faq-icon-wrap"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M432 256c0 17.69-14.33 32.01-32 32.01H256v144c0 17.69-14.33 31.99-32 31.99s-32-14.3-32-31.99v-144H48c-17.67 0-32-14.32-32-32.01s14.33-31.99 32-31.99H192v-144c0-17.69 14.33-32.01 32-32.01s32 14.32 32 32.01v144h144C417.7 224 432 238.3 432 256z"></path></svg></span>
												<span class="uagb-icon-active uagb-faq-icon-wrap"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M400 288h-352c-17.69 0-32-14.32-32-32.01s14.31-31.99 32-31.99h352c17.69 0 32 14.3 32 31.99S417.7 288 400 288z"></path></svg></span>
												<span class="uagb-question"><strong>What is the process to become a collaborating member of IAESTE?</strong></span>
											</div>
											<div class="uagb-faq-content" style="display: none;">
												<p>To become a collaborating member center of IAESTE, you must apply at the Central Office, that is, at the National Secretariat.</p>
											</div>
										</div>

										<div class="wp-block-uagb-faq-child uagb-faq-child__outer-wrap uagb-faq-item" role="tab" tabindex="0" aria-expanded="false">
											<div class="uagb-faq-questions-button uagb-faq-questions">
												<span class="uagb-icon uagb-faq-icon-wrap"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M432 256c0 17.69-14.33 32.01-32 32.01H256v144c0 17.69-14.33 31.99-32 31.99s-32-14.3-32-31.99v-144H48c-17.67 0-32-14.32-32-32.01s14.33-31.99 32-31.99H192v-144c0-17.69 14.33-32.01 32-32.01s32 14.32 32 32.01v144h144C417.7 224 432 238.3 432 256z"></path></svg></span>
												<span class="uagb-icon-active uagb-faq-icon-wrap"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M400 288h-352c-17.69 0-32-14.32-32-32.01s14.31-31.99 32-31.99h352c17.69 0 32 14.3 32 31.99S417.7 288 400 288z"></path></svg></span>
												<span class="uagb-question"><strong>How does a university become an IAESTE Member Center?</strong></span>
											</div>
											<div class="uagb-faq-content" style="display: none;">
												<p>To be a Member Center, you would need to fill in the basic registration data and pay the annual center fee. This information requires a responsible teacher and a center delegate, who will be the student in charge of coordinating the Center's activity.</p>
											</div>
										</div>

										<div class="wp-block-uagb-faq-child uagb-faq-child__outer-wrap uagb-faq-item" role="tab" tabindex="0" aria-expanded="false">
											<div class="uagb-faq-questions-button uagb-faq-questions">
												<span class="uagb-icon uagb-faq-icon-wrap"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M432 256c0 17.69-14.33 32.01-32 32.01H256v144c0 17.69-14.33 31.99-32 31.99s-32-14.3-32-31.99v-144H48c-17.67 0-32-14.32-32-32.01s14.33-31.99 32-31.99H192v-144c0-17.69 14.33-32.01 32-32.01s32 14.32 32 32.01v144h144C417.7 224 432 238.3 432 256z"></path></svg></span>
												<span class="uagb-icon-active uagb-faq-icon-wrap"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M400 288h-352c-17.69 0-32-14.32-32-32.01s14.31-31.99 32-31.99h352c17.69 0 32 14.3 32 31.99S417.7 288 400 288z"></path></svg></span>
												<span class="uagb-question"><strong>Which countries usually host internship students?</strong></span>
											</div>
											<div class="uagb-faq-content" style="display: none;">
												<p>IAESTE is not an association restricted to Europe, and although fairly frequent countries to go for internships are Germany, Switzerland or Poland, there are also other types of experiences like India, Brazil, Thailand and many more. There is no specific type of company that offers internships as the possibilities are very wide, and there are even internships at other universities.</p>
											</div>
										</div>

										<div class="wp-block-uagb-faq-child uagb-faq-child__outer-wrap uagb-faq-item" role="tab" tabindex="0" aria-expanded="false">
											<div class="uagb-faq-questions-button uagb-faq-questions">
												<span class="uagb-icon uagb-faq-icon-wrap"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M432 256c0 17.69-14.33 32.01-32 32.01H256v144c0 17.69-14.33 31.99-32 31.99s-32-14.3-32-31.99v-144H48c-17.67 0-32-14.32-32-32.01s14.33-31.99 32-31.99H192v-144c0-17.69 14.33-32.01 32-32.01s32 14.32 32 32.01v144h144C417.7 224 432 238.3 432 256z"></path></svg></span>
												<span class="uagb-icon-active uagb-faq-icon-wrap"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M400 288h-352c-17.69 0-32-14.32-32-32.01s14.31-31.99 32-31.99h352c17.69 0 32 14.3 32 31.99S417.7 288 400 288z"></path></svg></span>
												<span class="uagb-question"><strong>To participate, is my Center obliged to receive exchange students?</strong></span>
											</div>
											<div class="uagb-faq-content" style="display: none;">
												<p>The entities that offer the internships are responsible for guaranteeing that position to students who come to Spain. However, there is also the possibility that the university supports the program by being a Member Center and hosting international students for a position.</p>
											</div>
										</div>

										<div class="wp-block-uagb-faq-child uagb-faq-child__outer-wrap uagb-faq-item" role="tab" tabindex="0" aria-expanded="false">
											<div class="uagb-faq-questions-button uagb-faq-questions">
												<span class="uagb-icon uagb-faq-icon-wrap"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M432 256c0 17.69-14.33 32.01-32 32.01H256v144c0 17.69-14.33 31.99-32 31.99s-32-14.3-32-31.99v-144H48c-17.67 0-32-14.32-32-32.01s14.33-31.99 32-31.99H192v-144c0-17.69 14.33-32.01 32-32.01s32 14.32 32 32.01v144h144C417.7 224 432 238.3 432 256z"></path></svg></span>
												<span class="uagb-icon-active uagb-faq-icon-wrap"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M400 288h-352c-17.69 0-32-14.32-32-32.01s14.31-31.99 32-31.99h352c17.69 0 32 14.3 32 31.99S417.7 288 400 288z"></path></svg></span>
												<span class="uagb-question"><strong>Will the students stay at the company where they intern?</strong></span>
											</div>
											<div class="uagb-faq-content" style="display: none;">
												<p>Depending on their performance in the position, the company may offer them a contract at the end of the internship.</p>
											</div>
										</div>

										<div class="wp-block-uagb-faq-child uagb-faq-child__outer-wrap uagb-faq-item" role="tab" tabindex="0" aria-expanded="false">
											<div class="uagb-faq-questions-button uagb-faq-questions">
												<span class="uagb-icon uagb-faq-icon-wrap"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M432 256c0 17.69-14.33 32.01-32 32.01H256v144c0 17.69-14.33 31.99-32 31.99s-32-14.3-32-31.99v-144H48c-17.67 0-32-14.32-32-32.01s14.33-31.99 32-31.99H192v-144c0-17.69 14.33-32.01 32-32.01s32 14.32 32 32.01v144h144C417.7 224 432 238.3 432 256z"></path></svg></span>
												<span class="uagb-icon-active uagb-faq-icon-wrap"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M400 288h-352c-17.69 0-32-14.32-32-32.01s14.31-31.99 32-31.99h352c17.69 0 32 14.3 32 31.99S417.7 288 400 288z"></path></svg></span>
												<span class="uagb-question"><strong>Is there any type of insurance to guarantee the safety of students?</strong></span>
											</div>
											<div class="uagb-faq-content" style="display: none;">
												<p>For any internship done with IAESTE, the student must take out insurance. For this type of stay, we recommend Swisscare to our members.</p>
											</div>
										</div>

										<div class="wp-block-uagb-faq-child uagb-faq-child__outer-wrap uagb-faq-item" role="tab" tabindex="0" aria-expanded="false">
											<div class="uagb-faq-questions-button uagb-faq-questions">
												<span class="uagb-icon uagb-faq-icon-wrap"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M432 256c0 17.69-14.33 32.01-32 32.01H256v144c0 17.69-14.33 31.99-32 31.99s-32-14.3-32-31.99v-144H48c-17.67 0-32-14.32-32-32.01s14.33-31.99 32-31.99H192v-144c0-17.69 14.33-32.01 32-32.01s32 14.32 32 32.01v144h144C417.7 224 432 238.3 432 256z"></path></svg></span>
												<span class="uagb-icon-active uagb-faq-icon-wrap"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M400 288h-352c-17.69 0-32-14.32-32-32.01s14.31-31.99 32-31.99h352c17.69 0 32 14.3 32 31.99S417.7 288 400 288z"></path></svg></span>
												<span class="uagb-question"><strong>How are internships awarded?</strong></span>
											</div>
											<div class="uagb-faq-content" style="display: none;">
												<p>The nomination procedure is detailed in IAESTE's internal regulations and any person from the center who meets the requirements can apply for an internship.</p>
											</div>
										</div>

									</div>
								</div>

							</div><!-- .faq-page-wrap -->

						</div><!-- .entry-content -->
</div>