---
layout: layouts/base.njk
title: "FAQ"
lang: es
activeNav: "faq"
bodyClasses: "wp-singular page-template-default page page-id-91 wp-custom-logo wp-embed-responsive wp-theme-astra translatepress-es_ES ast-desktop ast-plain-container ast-no-sidebar astra-4.13.1 ast-single-post ast-inherit-site-logo-transparent ast-hfb-header ast-full-width-primary-header"
permalink: "/faq/index.html"
---
<div class="entry-content clear" data-ast-blocks-layout="true" itemprop="text">
<div class="faq-page-wrap">
								<h1 class="wp-block-heading">FAQ</h1>

								<div class="faq-section">
									<h2 class="wp-block-heading">FAQ Estudiantes</h2>
									<div class="wp-block-uagb-faq uagb-faq__outer-wrap uagb-faq-layout-accordion uagb-faq__wrap uagb-faq-icon-row" data-faqtoggle="true" role="tablist">

										<div class="wp-block-uagb-faq-child uagb-faq-child__outer-wrap uagb-faq-item" role="tab" tabindex="0" aria-expanded="false">
											<div class="uagb-faq-questions-button uagb-faq-questions">
												<span class="uagb-icon uagb-faq-icon-wrap"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M432 256c0 17.69-14.33 32.01-32 32.01H256v144c0 17.69-14.33 31.99-32 31.99s-32-14.3-32-31.99v-144H48c-17.67 0-32-14.32-32-32.01s14.33-31.99 32-31.99H192v-144c0-17.69 14.33-32.01 32-32.01s32 14.32 32 32.01v144h144C417.7 224 432 238.3 432 256z"></path></svg></span>
												<span class="uagb-icon-active uagb-faq-icon-wrap"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M400 288h-352c-17.69 0-32-14.32-32-32.01s14.31-31.99 32-31.99h352c17.69 0 32 14.3 32 31.99S417.7 288 400 288z"></path></svg></span>
												<span class="uagb-question"><strong>¿Cuánto duran las practices?</strong></span>
											</div>
											<div class="uagb-faq-content" style="display: none;">
												<p>La duración es variable y va desde las 6 semanas hasta un año.</p>
											</div>
										</div>

										<div class="wp-block-uagb-faq-child uagb-faq-child__outer-wrap uagb-faq-item" role="tab" tabindex="0" aria-expanded="false">
											<div class="uagb-faq-questions-button uagb-faq-questions">
												<span class="uagb-icon uagb-faq-icon-wrap"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M432 256c0 17.69-14.33 32.01-32 32.01H256v144c0 17.69-14.33 31.99-32 31.99s-32-14.3-32-31.99v-144H48c-17.67 0-32-14.32-32-32.01s14.33-31.99 32-31.99H192v-144c0-17.69 14.33-32.01 32-32.01s32 14.32 32 32.01v144h144C417.7 224 432 238.3 432 256z"></path></svg></span>
												<span class="uagb-icon-active uagb-faq-icon-wrap"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M400 288h-352c-17.69 0-32-14.32-32-32.01s14.31-31.99 32-31.99h352c17.69 0 32 14.3 32 31.99S417.7 288 400 288z"></path></svg></span>
												<span class="uagb-question"><strong>¿A qué países puedo ir de prácticas?</strong></span>
											</div>
											<div class="uagb-faq-content" style="display: none;">
												<p>IAESTE no sólo funciona en Europa, si no que hay más de 80 países miembros en los que puedes realizar tus prácticas y vivir experiencias increíbles. Puedes consultar los países miembros aquí.</p>
											</div>
										</div>

										<div class="wp-block-uagb-faq-child uagb-faq-child__outer-wrap uagb-faq-item" role="tab" tabindex="0" aria-expanded="false">
											<div class="uagb-faq-questions-button uagb-faq-questions">
												<span class="uagb-icon uagb-faq-icon-wrap"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M432 256c0 17.69-14.33 32.01-32 32.01H256v144c0 17.69-14.33 31.99-32 31.99s-32-14.3-32-31.99v-144H48c-17.67 0-32-14.32-32-32.01s14.33-31.99 32-31.99H192v-144c0-17.69 14.33-32.01 32-32.01s32 14.32 32 32.01v144h144C417.7 224 432 238.3 432 256z"></path></svg></span>
												<span class="uagb-icon-active uagb-faq-icon-wrap"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M400 288h-352c-17.69 0-32-14.32-32-32.01s14.31-31.99 32-31.99h352c17.69 0 32 14.3 32 31.99S417.7 288 400 288z"></path></svg></span>
												<span class="uagb-question"><strong>¿Cuánto es la remuneración de las prácticas?</strong></span>
											</div>
											<div class="uagb-faq-content" style="display: none;">
												<p>Todas las prácticas son remuneradas. Dicha remuneración depende del nivel de vida del país y se proporciona para cubrir los gastos de subsistencia, que como mínimo incluirá alojamiento, manutención y transporte.</p>
											</div>
										</div>

										<div class="wp-block-uagb-faq-child uagb-faq-child__outer-wrap uagb-faq-item" role="tab" tabindex="0" aria-expanded="false">
											<div class="uagb-faq-questions-button uagb-faq-questions">
												<span class="uagb-icon uagb-faq-icon-wrap"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M432 256c0 17.69-14.33 32.01-32 32.01H256v144c0 17.69-14.33 31.99-32 31.99s-32-14.3-32-31.99v-144H48c-17.67 0-32-14.32-32-32.01s14.33-31.99 32-31.99H192v-144c0-17.69 14.33-32.01 32-32.01s32 14.32 32 32.01v144h144C417.7 224 432 238.3 432 256z"></path></svg></span>
												<span class="uagb-icon-active uagb-faq-icon-wrap"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M400 288h-352c-17.69 0-32-14.32-32-32.01s14.31-31.99 32-31.99h352c17.69 0 32 14.3 32 31.99S417.7 288 400 288z"></path></svg></span>
												<span class="uagb-question"><strong>¿Cómo gestiono mi llegada?</strong></span>
											</div>
											<div class="uagb-faq-content" style="display: none;">
												<p>No vas a estar solo. Por norma general, miembros de IAESTE del país de destino os recogerán en el aeropuerto, y si así lo solicitas os buscarán el alojamiento y os acompañarán al lugar de trabajo. Podrás comunicarte con el Comité Local para resolver todas las dudas que te surjan una vez estés aceptado.</p>
											</div>
										</div>

										<div class="wp-block-uagb-faq-child uagb-faq-child__outer-wrap uagb-faq-item" role="tab" tabindex="0" aria-expanded="false">
											<div class="uagb-faq-questions-button uagb-faq-questions">
												<span class="uagb-icon uagb-faq-icon-wrap"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M432 256c0 17.69-14.33 32.01-32 32.01H256v144c0 17.69-14.33 31.99-32 31.99s-32-14.3-32-31.99v-144H48c-17.67 0-32-14.32-32-32.01s14.33-31.99 32-31.99H192v-144c0-17.69 14.33-32.01 32-32.01s32 14.32 32 32.01v144h144C417.7 224 432 238.3 432 256z"></path></svg></span>
												<span class="uagb-icon-active uagb-faq-icon-wrap"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M400 288h-352c-17.69 0-32-14.32-32-32.01s14.31-31.99 32-31.99h352c17.69 0 32 14.3 32 31.99S417.7 288 400 288z"></path></svg></span>
												<span class="uagb-question"><strong>¿Cuánto me va a costar el programa?</strong></span>
											</div>
											<div class="uagb-faq-content" style="display: none;">
												<p>En caso de ser aceptado en una práctica, tramitar la documentación relativa a esta tiene aparejado un coste de 220€ (320€ para centros no asociados al programa) por parte del estudiante.</p>
											</div>
										</div>

										<div class="wp-block-uagb-faq-child uagb-faq-child__outer-wrap uagb-faq-item" role="tab" tabindex="0" aria-expanded="false">
											<div class="uagb-faq-questions-button uagb-faq-questions">
												<span class="uagb-icon uagb-faq-icon-wrap"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M432 256c0 17.69-14.33 32.01-32 32.01H256v144c0 17.69-14.33 31.99-32 31.99s-32-14.3-32-31.99v-144H48c-17.67 0-32-14.32-32-32.01s14.33-31.99 32-31.99H192v-144c0-17.69 14.33-32.01 32-32.01s32 14.32 32 32.01v144h144C417.7 224 432 238.3 432 256z"></path></svg></span>
												<span class="uagb-icon-active uagb-faq-icon-wrap"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M400 288h-352c-17.69 0-32-14.32-32-32.01s14.31-31.99 32-31.99h352c17.69 0 32 14.3 32 31.99S417.7 288 400 288z"></path></svg></span>
												<span class="uagb-question"><strong>¿Qué debo hacer para conseguir una práctica?</strong></span>
											</div>
											<div class="uagb-faq-content" style="display: none;">
												<p>El fundamento del programa radica en la obtención de una práctica para un extranjero en tu ciudad para poder intercambiarla por otra que haya conseguido un estudiante en su país de origen en condiciones similares.<br>Cuantas más empresas se consigan en tu ciudad, más personas de esta podrán irse de prácticas.<br>Cada Comité Local establece sus propios baremos para seleccionar el orden en el que los socios podrán acceder a las prácticas en función del trabajo realizado para la asociación. Contacta con ellos para solicitar más información al respecto.</p>
											</div>
										</div>

										<div class="wp-block-uagb-faq-child uagb-faq-child__outer-wrap uagb-faq-item" role="tab" tabindex="0" aria-expanded="false">
											<div class="uagb-faq-questions-button uagb-faq-questions">
												<span class="uagb-icon uagb-faq-icon-wrap"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M432 256c0 17.69-14.33 32.01-32 32.01H256v144c0 17.69-14.33 31.99-32 31.99s-32-14.3-32-31.99v-144H48c-17.67 0-32-14.32-32-32.01s14.33-31.99 32-31.99H192v-144c0-17.69 14.33-32.01 32-32.01s32 14.32 32 32.01v144h144C417.7 224 432 238.3 432 256z"></path></svg></span>
												<span class="uagb-icon-active uagb-faq-icon-wrap"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M400 288h-352c-17.69 0-32-14.32-32-32.01s14.31-31.99 32-31.99h352c17.69 0 32 14.3 32 31.99S417.7 288 400 288z"></path></svg></span>
												<span class="uagb-question"><strong>¿Cómo me apunto?</strong></span>
											</div>
											<div class="uagb-faq-content" style="display: none;">
												<p>Si el programa te ha convencido, no dudes en ponerte en contacto, a través de correo electrónico, con tu Centro o Comité Local para que te digan los pasos a seguir.</p>
											</div>
										</div>

										<div class="wp-block-uagb-faq-child uagb-faq-child__outer-wrap uagb-faq-item" role="tab" tabindex="0" aria-expanded="false">
											<div class="uagb-faq-questions-button uagb-faq-questions">
												<span class="uagb-icon uagb-faq-icon-wrap"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M432 256c0 17.69-14.33 32.01-32 32.01H256v144c0 17.69-14.33 31.99-32 31.99s-32-14.3-32-31.99v-144H48c-17.67 0-32-14.32-32-32.01s14.33-31.99 32-31.99H192v-144c0-17.69 14.33-32.01 32-32.01s32 14.32 32 32.01v144h144C417.7 224 432 238.3 432 256z"></path></svg></span>
												<span class="uagb-icon-active uagb-faq-icon-wrap"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M400 288h-352c-17.69 0-32-14.32-32-32.01s14.31-31.99 32-31.99h352c17.69 0 32 14.3 32 31.99S417.7 288 400 288z"></path></svg></span>
												<span class="uagb-question"><strong>¿Cómo puedo contactar con mi centro?</strong></span>
											</div>
											<div class="uagb-faq-content" style="display: none;">
												<p>Para cualquier consulta o comentario, puedes encontrar los contactos de los centros y delegaciones en el <a href="https://www.iaeste.es/contacto/">sitio web de contacto</a>.</p>
											</div>
										</div>

									</div>
								</div>

								<div class="faq-section">
									<h2 class="wp-block-heading">FAQ Empresas</h2>
									<div class="wp-block-uagb-faq uagb-faq__outer-wrap uagb-faq-layout-accordion uagb-faq__wrap uagb-faq-icon-row" data-faqtoggle="true" role="tablist">

										<div class="wp-block-uagb-faq-child uagb-faq-child__outer-wrap uagb-faq-item" role="tab" tabindex="0" aria-expanded="false">
											<div class="uagb-faq-questions-button uagb-faq-questions">
												<span class="uagb-icon uagb-faq-icon-wrap"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M432 256c0 17.69-14.33 32.01-32 32.01H256v144c0 17.69-14.33 31.99-32 31.99s-32-14.3-32-31.99v-144H48c-17.67 0-32-14.32-32-32.01s14.33-31.99 32-31.99H192v-144c0-17.69 14.33-32.01 32-32.01s32 14.32 32 32.01v144h144C417.7 224 432 238.3 432 256z"></path></svg></span>
												<span class="uagb-icon-active uagb-faq-icon-wrap"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M400 288h-352c-17.69 0-32-14.32-32-32.01s14.31-31.99 32-31.99h352c17.69 0 32 14.3 32 31.99S417.7 288 400 288z"></path></svg></span>
												<span class="uagb-question"><strong>¿Cuál es la duración de las prácticas?</strong></span>
											</div>
											<div class="uagb-faq-content" style="display: none;">
												<p>La empresa determina la duración de las prácticas. La duración puede ser desde tres meses hasta 18 meses.</p>
											</div>
										</div>

										<div class="wp-block-uagb-faq-child uagb-faq-child__outer-wrap uagb-faq-item" role="tab" tabindex="0" aria-expanded="false">
											<div class="uagb-faq-questions-button uagb-faq-questions">
												<span class="uagb-icon uagb-faq-icon-wrap"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M432 256c0 17.69-14.33 32.01-32 32.01H256v144c0 17.69-14.33 31.99-32 31.99s-32-14.3-32-31.99v-144H48c-17.67 0-32-14.32-32-32.01s14.33-31.99 32-31.99H192v-144c0-17.69 14.33-32.01 32-32.01s32 14.32 32 32.01v144h144C417.7 224 432 238.3 432 256z"></path></svg></span>
												<span class="uagb-icon-active uagb-faq-icon-wrap"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M400 288h-352c-17.69 0-32-14.32-32-32.01s14.31-31.99 32-31.99h352c17.69 0 32 14.3 32 31.99S417.7 288 400 288z"></path></svg></span>
												<span class="uagb-question"><strong>¿Podemos hacer una selección de entre varios estudiantes?</strong></span>
											</div>
											<div class="uagb-faq-content" style="display: none;">
												<p>No tienen que preocuparse de encontrar el estudiante perfecto, solamente tienen que definir el perfil que más se adapte a las necesidades de la empresa. Nosotros haremos esa selección y les presentaremos al estudiante que más se adapte a lo que están buscando.</p>
											</div>
										</div>

										<div class="wp-block-uagb-faq-child uagb-faq-child__outer-wrap uagb-faq-item" role="tab" tabindex="0" aria-expanded="false">
											<div class="uagb-faq-questions-button uagb-faq-questions">
												<span class="uagb-icon uagb-faq-icon-wrap"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M432 256c0 17.69-14.33 32.01-32 32.01H256v144c0 17.69-14.33 31.99-32 31.99s-32-14.3-32-31.99v-144H48c-17.67 0-32-14.32-32-32.01s14.33-31.99 32-31.99H192v-144c0-17.69 14.33-32.01 32-32.01s32 14.32 32 32.01v144h144C417.7 224 432 238.3 432 256z"></path></svg></span>
												<span class="uagb-icon-active uagb-faq-icon-wrap"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M400 288h-352c-17.69 0-32-14.32-32-32.01s14.31-31.99 32-31.99h352c17.69 0 32 14.3 32 31.99S417.7 288 400 288z"></path></svg></span>
												<span class="uagb-question"><strong>¿Qué parámetros podemos elegir?</strong></span>
											</div>
											<div class="uagb-faq-content" style="display: none;">
												<p>Pueden elegir el campo de estudio del estudiante así como el nivel de los mismos, requisitos particulares (lenguajes de programación, skills requeridas...) y el nivel de idiomas. Rellenando este formulario* queda detallado el perfil requerido.</p>
											</div>
										</div>

										<div class="wp-block-uagb-faq-child uagb-faq-child__outer-wrap uagb-faq-item" role="tab" tabindex="0" aria-expanded="false">
											<div class="uagb-faq-questions-button uagb-faq-questions">
												<span class="uagb-icon uagb-faq-icon-wrap"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M432 256c0 17.69-14.33 32.01-32 32.01H256v144c0 17.69-14.33 31.99-32 31.99s-32-14.3-32-31.99v-144H48c-17.67 0-32-14.32-32-32.01s14.33-31.99 32-31.99H192v-144c0-17.69 14.33-32.01 32-32.01s32 14.32 32 32.01v144h144C417.7 224 432 238.3 432 256z"></path></svg></span>
												<span class="uagb-icon-active uagb-faq-icon-wrap"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M400 288h-352c-17.69 0-32-14.32-32-32.01s14.31-31.99 32-31.99h352c17.69 0 32 14.3 32 31.99S417.7 288 400 288z"></path></svg></span>
												<span class="uagb-question"><strong>¿Cuáles son las especialidades disponibles?</strong></span>
											</div>
											<div class="uagb-faq-content" style="display: none;">
												<p>Actualmente hay casi 20 disciplinas generales y múltiples campos de estudio.</p>
											</div>
										</div>

										<div class="wp-block-uagb-faq-child uagb-faq-child__outer-wrap uagb-faq-item" role="tab" tabindex="0" aria-expanded="false">
											<div class="uagb-faq-questions-button uagb-faq-questions">
												<span class="uagb-icon uagb-faq-icon-wrap"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M432 256c0 17.69-14.33 32.01-32 32.01H256v144c0 17.69-14.33 31.99-32 31.99s-32-14.3-32-31.99v-144H48c-17.67 0-32-14.32-32-32.01s14.33-31.99 32-31.99H192v-144c0-17.69 14.33-32.01 32-32.01s32 14.32 32 32.01v144h144C417.7 224 432 238.3 432 256z"></path></svg></span>
												<span class="uagb-icon-active uagb-faq-icon-wrap"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M400 288h-352c-17.69 0-32-14.32-32-32.01s14.31-31.99 32-31.99h352c17.69 0 32 14.3 32 31.99S417.7 288 400 288z"></path></svg></span>
												<span class="uagb-question"><strong>¿La participación en el programa tiene algún coste para la empresa?</strong></span>
											</div>
											<div class="uagb-faq-content" style="display: none;">
												<p>IAESTE actúa como un mero intermediario, por lo que la gestión no tiene ningún coste.<br>El estudiante en prácticas recibirá una remuneración mínima de 800 euros netos mensuales por parte de la empresa, de forma que pueda cubrir sus costes durante la práctica en nuestro país.<br>La empresa se hará cargo de los gastos correspondientes a la seguridad social e IRPF.</p>
											</div>
										</div>

										<div class="wp-block-uagb-faq-child uagb-faq-child__outer-wrap uagb-faq-item" role="tab" tabindex="0" aria-expanded="false">
											<div class="uagb-faq-questions-button uagb-faq-questions">
												<span class="uagb-icon uagb-faq-icon-wrap"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M432 256c0 17.69-14.33 32.01-32 32.01H256v144c0 17.69-14.33 31.99-32 31.99s-32-14.3-32-31.99v-144H48c-17.67 0-32-14.32-32-32.01s14.33-31.99 32-31.99H192v-144c0-17.69 14.33-32.01 32-32.01s32 14.32 32 32.01v144h144C417.7 224 432 238.3 432 256z"></path></svg></span>
												<span class="uagb-icon-active uagb-faq-icon-wrap"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M400 288h-352c-17.69 0-32-14.32-32-32.01s14.31-31.99 32-31.99h352c17.69 0 32 14.3 32 31.99S417.7 288 400 288z"></path></svg></span>
												<span class="uagb-question"><strong>¿Cuál es el periodo para ofrecer prácticas?</strong></span>
											</div>
											<div class="uagb-faq-content" style="display: none;">
												<p>La empresa tiene total libertad para elegir los plazos que le convengan. Sin embargo, las épocas con mayor volumen de estudiantes disponibles son en verano y a principios de año.</p>
											</div>
										</div>

										<div class="wp-block-uagb-faq-child uagb-faq-child__outer-wrap uagb-faq-item" role="tab" tabindex="0" aria-expanded="false">
											<div class="uagb-faq-questions-button uagb-faq-questions">
												<span class="uagb-icon uagb-faq-icon-wrap"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M432 256c0 17.69-14.33 32.01-32 32.01H256v144c0 17.69-14.33 31.99-32 31.99s-32-14.3-32-31.99v-144H48c-17.67 0-32-14.32-32-32.01s14.33-31.99 32-31.99H192v-144c0-17.69 14.33-32.01 32-32.01s32 14.32 32 32.01v144h144C417.7 224 432 238.3 432 256z"></path></svg></span>
												<span class="uagb-icon-active uagb-faq-icon-wrap"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M400 288h-352c-17.69 0-32-14.32-32-32.01s14.31-31.99 32-31.99h352c17.69 0 32 14.3 32 31.99S417.7 288 400 288z"></path></svg></span>
												<span class="uagb-question"><strong>¿Es posible ofrecer un contrato al estudiante cuando termine la práctica?</strong></span>
											</div>
											<div class="uagb-faq-content" style="display: none;">
												<p>Esa opción siempre está abierta a la negociación de la empresa con el estudiante.<br>Por supuesto. Esta opción estará sujeta a la negociación de la empresa con el estudiante y se seguirá el procedimiento de contratación convencional (fuera del alcance de IAESTE).</p>
											</div>
										</div>

									</div>
								</div>

								<div class="faq-section">
									<h2 class="wp-block-heading">FAQ Universidades</h2>
									<div class="wp-block-uagb-faq uagb-faq__outer-wrap uagb-faq-layout-accordion uagb-faq__wrap uagb-faq-icon-row" data-faqtoggle="true" role="tablist">

										<div class="wp-block-uagb-faq-child uagb-faq-child__outer-wrap uagb-faq-item" role="tab" tabindex="0" aria-expanded="false">
											<div class="uagb-faq-questions-button uagb-faq-questions">
												<span class="uagb-icon uagb-faq-icon-wrap"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M432 256c0 17.69-14.33 32.01-32 32.01H256v144c0 17.69-14.33 31.99-32 31.99s-32-14.3-32-31.99v-144H48c-17.67 0-32-14.32-32-32.01s14.33-31.99 32-31.99H192v-144c0-17.69 14.33-32.01 32-32.01s32 14.32 32 32.01v144h144C417.7 224 432 238.3 432 256z"></path></svg></span>
												<span class="uagb-icon-active uagb-faq-icon-wrap"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M400 288h-352c-17.69 0-32-14.32-32-32.01s14.31-31.99 32-31.99h352c17.69 0 32 14.3 32 31.99S417.7 288 400 288z"></path></svg></span>
												<span class="uagb-question"><strong>¿Cuál es el proceso para ser miembro colaborador de IAESTE?</strong></span>
											</div>
											<div class="uagb-faq-content" style="display: none;">
												<p>Para ser un Centro miembro colaborador de IAESTE se debe solicitar en la Oficina Central, es decir, en el Secretariado Nacional.</p>
											</div>
										</div>

										<div class="wp-block-uagb-faq-child uagb-faq-child__outer-wrap uagb-faq-item" role="tab" tabindex="0" aria-expanded="false">
											<div class="uagb-faq-questions-button uagb-faq-questions">
												<span class="uagb-icon uagb-faq-icon-wrap"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M432 256c0 17.69-14.33 32.01-32 32.01H256v144c0 17.69-14.33 31.99-32 31.99s-32-14.3-32-31.99v-144H48c-17.67 0-32-14.32-32-32.01s14.33-31.99 32-31.99H192v-144c0-17.69 14.33-32.01 32-32.01s32 14.32 32 32.01v144h144C417.7 224 432 238.3 432 256z"></path></svg></span>
												<span class="uagb-icon-active uagb-faq-icon-wrap"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M400 288h-352c-17.69 0-32-14.32-32-32.01s14.31-31.99 32-31.99h352c17.69 0 32 14.3 32 31.99S417.7 288 400 288z"></path></svg></span>
												<span class="uagb-question"><strong>¿Cómo se convierte una universidad en Centro miembro de IAESTE?</strong></span>
											</div>
											<div class="uagb-faq-content" style="display: none;">
												<p>Para ser un Centro miembro habría que cumplimentar los datos de registro básicos y pagar la cuota de centro anual. Dicha información pide tener un profesor responsable y a un delegado de centro, que será el alumno encargado de coordinar la actividad del Centro.</p>
											</div>
										</div>

										<div class="wp-block-uagb-faq-child uagb-faq-child__outer-wrap uagb-faq-item" role="tab" tabindex="0" aria-expanded="false">
											<div class="uagb-faq-questions-button uagb-faq-questions">
												<span class="uagb-icon uagb-faq-icon-wrap"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M432 256c0 17.69-14.33 32.01-32 32.01H256v144c0 17.69-14.33 31.99-32 31.99s-32-14.3-32-31.99v-144H48c-17.67 0-32-14.32-32-32.01s14.33-31.99 32-31.99H192v-144c0-17.69 14.33-32.01 32-32.01s32 14.32 32 32.01v144h144C417.7 224 432 238.3 432 256z"></path></svg></span>
												<span class="uagb-icon-active uagb-faq-icon-wrap"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M400 288h-352c-17.69 0-32-14.32-32-32.01s14.31-31.99 32-31.99h352c17.69 0 32 14.3 32 31.99S417.7 288 400 288z"></path></svg></span>
												<span class="uagb-question"><strong>¿Qué países suelen acoger alumnos de prácticas?</strong></span>
											</div>
											<div class="uagb-faq-content" style="display: none;">
												<p>IAESTE no es una asociación que se restrinja a Europa, y aunque países bastante frecuentes para irse de prácticas son algunos como Alemania, Suiza o Polonia, también hay otro tipo de experiencias como India, Brasil, Tailandia y muchos otros más. No existe un tipo determinado de empresas que concedan prácticas ya que las posibilidades son muy amplias, e incluso hay prácticas en otras universidades.</p>
											</div>
										</div>

										<div class="wp-block-uagb-faq-child uagb-faq-child__outer-wrap uagb-faq-item" role="tab" tabindex="0" aria-expanded="false">
											<div class="uagb-faq-questions-button uagb-faq-questions">
												<span class="uagb-icon uagb-faq-icon-wrap"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M432 256c0 17.69-14.33 32.01-32 32.01H256v144c0 17.69-14.33 31.99-32 31.99s-32-14.3-32-31.99v-144H48c-17.67 0-32-14.32-32-32.01s14.33-31.99 32-31.99H192v-144c0-17.69 14.33-32.01 32-32.01s32 14.32 32 32.01v144h144C417.7 224 432 238.3 432 256z"></path></svg></span>
												<span class="uagb-icon-active uagb-faq-icon-wrap"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M400 288h-352c-17.69 0-32-14.32-32-32.01s14.31-31.99 32-31.99h352c17.69 0 32 14.3 32 31.99S417.7 288 400 288z"></path></svg></span>
												<span class="uagb-question"><strong>¿Para participar, mi Centro está obligado a recibir alumnos de intercambio?</strong></span>
											</div>
											<div class="uagb-faq-content" style="display: none;">
												<p>Son las entidades que ofertan las prácticas las responsables de garantizar ese puesto a los estudiantes que vienen a España. Sin embargo, existe la posibilidad de que además la universidad apoye el programa siendo Centro miembro y acogiendo a alumnos internacionales para un puesto.</p>
											</div>
										</div>

										<div class="wp-block-uagb-faq-child uagb-faq-child__outer-wrap uagb-faq-item" role="tab" tabindex="0" aria-expanded="false">
											<div class="uagb-faq-questions-button uagb-faq-questions">
												<span class="uagb-icon uagb-faq-icon-wrap"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M432 256c0 17.69-14.33 32.01-32 32.01H256v144c0 17.69-14.33 31.99-32 31.99s-32-14.3-32-31.99v-144H48c-17.67 0-32-14.32-32-32.01s14.33-31.99 32-31.99H192v-144c0-17.69 14.33-32.01 32-32.01s32 14.32 32 32.01v144h144C417.7 224 432 238.3 432 256z"></path></svg></span>
												<span class="uagb-icon-active uagb-faq-icon-wrap"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M400 288h-352c-17.69 0-32-14.32-32-32.01s14.31-31.99 32-31.99h352c17.69 0 32 14.3 32 31.99S417.7 288 400 288z"></path></svg></span>
												<span class="uagb-question"><strong>¿Los alumnos se quedarán en la empresa en la que hacen prácticas?</strong></span>
											</div>
											<div class="uagb-faq-content" style="display: none;">
												<p>Dependiendo del desempeño que tengan en el puesto, la empresa puede ofrecerles un contrato al término de las prácticas.</p>
											</div>
										</div>

										<div class="wp-block-uagb-faq-child uagb-faq-child__outer-wrap uagb-faq-item" role="tab" tabindex="0" aria-expanded="false">
											<div class="uagb-faq-questions-button uagb-faq-questions">
												<span class="uagb-icon uagb-faq-icon-wrap"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M432 256c0 17.69-14.33 32.01-32 32.01H256v144c0 17.69-14.33 31.99-32 31.99s-32-14.3-32-31.99v-144H48c-17.67 0-32-14.32-32-32.01s14.33-31.99 32-31.99H192v-144c0-17.69 14.33-32.01 32-32.01s32 14.32 32 32.01v144h144C417.7 224 432 238.3 432 256z"></path></svg></span>
												<span class="uagb-icon-active uagb-faq-icon-wrap"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M400 288h-352c-17.69 0-32-14.32-32-32.01s14.31-31.99 32-31.99h352c17.69 0 32 14.3 32 31.99S417.7 288 400 288z"></path></svg></span>
												<span class="uagb-question"><strong>¿Existe algún tipo de seguro para garantizar la seguridad de los alumnos?</strong></span>
											</div>
											<div class="uagb-faq-content" style="display: none;">
												<p>Para cualquier práctica que se haga con IAESTE es necesario que el alumno contrate un seguro. Para este tipo de estancias nosotros recomendamos a los socios Swisscare.</p>
											</div>
										</div>

										<div class="wp-block-uagb-faq-child uagb-faq-child__outer-wrap uagb-faq-item" role="tab" tabindex="0" aria-expanded="false">
											<div class="uagb-faq-questions-button uagb-faq-questions">
												<span class="uagb-icon uagb-faq-icon-wrap"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M432 256c0 17.69-14.33 32.01-32 32.01H256v144c0 17.69-14.33 31.99-32 31.99s-32-14.3-32-31.99v-144H48c-17.67 0-32-14.32-32-32.01s14.33-31.99 32-31.99H192v-144c0-17.69 14.33-32.01 32-32.01s32 14.32 32 32.01v144h144C417.7 224 432 238.3 432 256z"></path></svg></span>
												<span class="uagb-icon-active uagb-faq-icon-wrap"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M400 288h-352c-17.69 0-32-14.32-32-32.01s14.31-31.99 32-31.99h352c17.69 0 32 14.3 32 31.99S417.7 288 400 288z"></path></svg></span>
												<span class="uagb-question"><strong>¿Cómo se adjudican las prácticas?</strong></span>
											</div>
											<div class="uagb-faq-content" style="display: none;">
												<p>El procedimiento de nominación está detallado en el Reglamento interno de IAESTE y cualquier persona del centro que cumpla los requisitos podrá optar a una práctica.</p>
											</div>
										</div>

									</div>
								</div>

							</div><!-- .faq-page-wrap -->

						</div><!-- .entry-content -->
</div>