---
layout: layouts/base.njk
title: "Your data secure"
lang: en
bodyClasses: "wp-singular page-template-default page page-id-3 wp-custom-logo wp-embed-responsive wp-theme-astra translatepress-en_US ast-desktop ast-plain-container ast-no-sidebar astra-4.13.1 ast-single-post ast-inherit-site-logo-transparent ast-hfb-header ast-full-width-primary-header"
permalink: "/en/sus-datos-seguros/index.html"
---
<div class="entry-content clear" data-ast-blocks-layout="true" itemprop="text">
<p>In Europe and Spain there are data protection regulations designed to protect your personal information that our entity must comply with.</p>

<p>Therefore, it is very important for us that you fully understand what we are going to do with the personal data we ask for.</p>

<p>Thus, we will be transparent and give you control over your data, with simple language and clear options that will allow you to decide what we will do with your personal information.</p>

<p>Please, if after reading this information you still have any doubts, do not hesitate to ask us.</p>

<p>Thank you very much for your collaboration.</p>

<ul class="wp-block-list">
<li><strong>Who are we?</strong></li>

<li>Our name: <strong>IAESTE SPAIN</strong></li>

<li>Our Tax ID (CIF/NIF): <strong>V78838323</strong></li>

<li>Our main activity:<strong> Non-profit association for international student internships</strong></li>

<li>Our address: <strong>POLYTECHNIC UNIVERSITY OF VALENCIA, BUILDING 8K, GROUND FLOOR, WEST WING, OFFICES 11-13, POSTAL CODE 46022, VALENCIA (Valencia/València)</strong></li>

<li>Our contact phone number: <strong>963699480</strong></li>

<li>Our contact email address: <strong>office@iaeste.es</strong></li>

<li>Our website: <strong>www.iaeste.es</strong></li>

<li>For your trust and security, we inform you that we are an entity registered in the following Public Registry of Valencia.</li>
</ul>

<p>We are at your disposal, do not hesitate to contact us.</p>

<ul class="wp-block-list">
<li><strong>What are we going to use your data for?</strong></li>
</ul>

<p>In general, your personal data will be used to be able to relate to you and provide you with our services.</p>

<p>Likewise, they may also be used for other activities, such as sending you advertising or promoting our activities. </p>

<ul class="wp-block-list">
<li><strong>Why do we need to use your data?</strong></li>
</ul>

<p>Your personal data is necessary to be able to relate to you and provide you with our services. In this sense, we will make available a series of boxes that will allow you to decide clearly and simply about the use of your personal information. </p>

<ul class="wp-block-list">
<li><strong>Who will know the information we ask for?</strong></li>
</ul>

<p>As a general rule, only duly authorized personnel of our entity may have knowledge of the information we ask for.</p>

<p>Likewise, entities that need access to your personal information in order for us to provide you with our services may also have knowledge of it. For example, our bank will know your data if payment for our services is made by card or bank transfer.</p>

<p>Likewise, those public or private entities to which we are obliged to provide your personal data due to compliance with any law will also have knowledge of your information. For example, the Tax Law requires us to provide the Tax Agency with certain information about economic transactions that exceed a certain amount.</p>

<p>In the event that, apart from the aforementioned cases, we need to disclose your personal information to other entities, we will previously request your permission through clear options that will allow you to decide in this regard.</p>

<ul class="wp-block-list">
<li><strong>How are we going to protect your data?</strong></li>
</ul>

<p>We will protect your data with effective security measures based on the risks involved in the use of your information.</p>

<p>To this end, our entity has approved a Data Protection Policy and annual controls and audits are carried out to verify that your personal data is safe at all times.</p>

<ul class="wp-block-list">
<li><strong>Will we send your data to other countries?</strong></li>
</ul>

<p>In the world there are countries that are safe for your data and others that are not so safe. For example, the European Union is a safe environment for your data. Our policy is not to send your personal information to any country that is not safe from the point of view of data protection.</p>

<p>In the event that, in order to provide you with the service, it is essential to send your data to a country that is not as safe as Spain, we will always ask for your permission in advance and apply effective security measures to reduce the risks of sending your personal information to another country.</p>

<ul class="wp-block-list">
<li><strong>How long will we keep your data?</strong></li>
</ul>

<p>We will keep your data during our relationship and as long as the laws require us to. Once the applicable legal periods have ended, we will proceed to delete them in a safe and environmentally friendly manner.</p>

<ul class="wp-block-list">
<li><strong>What are your data protection rights?</strong></li>
</ul>

<p>At any time you can contact us to find out what information we have about you, rectify it if it is incorrect and delete it once our relationship ends, if that is legally possible.</p>

<p>You also have the right to request the transfer of your information to another entity. This right is called “portability” and may be useful in certain situations.</p>

<p>To request any of these rights, you must make a written request to our address, together with a photocopy of your ID, so that we can identify you.</p>

<p>At our entity's offices we have specific forms to request said rights and we offer you our help to complete them.</p>

<p>To learn more about your data protection rights, you can visit the website of the Spanish Data Protection Agency (<a href="http://www.agpd.es/">www.agpd.es</a>).</p>

<ul class="wp-block-list">
<li><strong>Can you withdraw your consent if you change your mind at a later time?</strong></li>
</ul>

<p>You can withdraw your consent if you change your mind about the use of your data at any time.</p>

<p>For example, if you were once interested in receiving advertising for our products or services, but no longer wish to receive advertising, you can let us know through the opposition to processing form available at our entity's offices.</p>

<ul class="wp-block-list">
<li><strong>If you believe that your rights have been neglected, where can you file a claim?</strong></li>
</ul>

<p>If you believe that your rights have been neglected by our entity, you can file a claim with the Spanish Data Protection Agency, through any of the following means:</p>

<ul class="wp-block-list">
<li>Website: www.agpd.es</li>

<li>Postal address:</li>
</ul>

<p>Spanish Data Protection Agency<br>C/ Jorge Juan, 6<br>28001-Madrid</p>

<ul class="wp-block-list">
<li>By phone:</li>
</ul>

<p>Telf. 901 100 099</p>

<p>Telf. 91 266 35 17</p>

<p>Filing a claim with the Spanish Data Protection Agency does not incur any cost and does not require the assistance of a lawyer or attorney.</p>

<ul class="wp-block-list">
<li><strong>Will we create profiles about you?</strong></li>
</ul>

<p>Our policy is not to create profiles about the users of our services.</p>

<p>However, there may be situations in which, for service provision, commercial or other purposes, we need to create information profiles about you. An example could be the use of your purchase or service history to be able to offer you products or services adapted to your tastes or needs.</p>

<p>In such case, we will apply effective security measures that protect your information at all times from unauthorized persons who intend to use it for their own benefit.</p>

<ul class="wp-block-list">
<li><strong>Will we use your data for other purposes?</strong></li>
</ul>

<p>Our policy is not to use your data for purposes other than those we have explained to you. If, however, we need to use your data for different activities, we will always ask for your permission in advance through clear options that will allow you to decide about it.</p>

</div>
</div>