---
layout: layouts/base.njk
title: "Mission and values"
lang: en
activeNav: "mision-y-valores"
bodyClasses: "wp-singular page-template-default page page-id-142 wp-custom-logo wp-embed-responsive wp-theme-astra translatepress-en_US ast-desktop ast-plain-container ast-no-sidebar astra-4.13.1 ast-single-post ast-inherit-site-logo-transparent ast-hfb-header ast-full-width-primary-header"
pageInlineStyles: ".wp-elements-c31eedbe16f1fa5d475f384a453f4402 a:where(:not(.wp-element-button)){color:var(--wp--preset--color--ast-global-color-5);}.wp-elements-89925991718abb90f1508bc44de4b1c2 a:where(:not(.wp-element-button)){color:var(--wp--preset--color--ast-global-color-5);}.wp-elements-f2d30c163ab0bd003a18fa3f3ca884dc a:where(:not(.wp-element-button)){color:var(--wp--preset--color--ast-global-color-5);}.wp-elements-438b039e7a845346d1ee45610322fa93 a:where(:not(.wp-element-button)){color:var(--wp--preset--color--ast-global-color-5);} /*# sourceURL=core-block-supports-inline-css */"
permalink: "/en/mision-y-valores/index.html"
---
<div class="entry-content clear" data-ast-blocks-layout="true" itemprop="text">
<figure class="wp-block-image aligncenter size-full"><img fetchpriority="high" decoding="async" width="927" height="194" src=".././assets/images/2024/12/pasted-image-0.png" alt="" class="wp-image-58" srcset=".././assets/images/2024/12/pasted-image-0.png 927w, .././assets/images/2024/12/pasted-image-0-300x63.png 300w, .././assets/images/2024/12/pasted-image-0-768x161.png 768w" sizes="(max-width: 927px) 100vw, 927px"></figure>

<p class="has-text-align-left has-ast-global-color-5-color has-text-color has-background has-link-color wp-elements-c31eedbe16f1fa5d475f384a453f4402" style="border-style:none;border-width:0px;border-radius:14px;background-color:#0b3d59;margin-top:var(--wp--preset--spacing--20);margin-right:0;margin-bottom:var(--wp--preset--spacing--20);margin-left:0;padding-top:var(--wp--preset--spacing--20);padding-right:var(--wp--preset--spacing--20);padding-bottom:var(--wp--preset--spacing--20);padding-left:var(--wp--preset--spacing--20);font-size:35px"><strong>Our Mission</strong></p>

<p>To promote international understanding, cooperation and trust among, for example, students, academic institutions, employers and the community at large.<br>To offer a high-quality practical training program among Cooperating Institution Members to improve the technical and professional development of society.<br>To operate independently of ethnic origin, culture, sex, sexual orientation, identity or gender identity or expression, religious or political beliefs, and disability.<br></p>

<p class="has-text-align-left has-ast-global-color-5-color has-text-color has-background has-link-color wp-elements-89925991718abb90f1508bc44de4b1c2" style="border-style:none;border-width:0px;border-radius:14px;background-color:#0b3d59;margin-top:var(--wp--preset--spacing--20);margin-right:0;margin-bottom:var(--wp--preset--spacing--20);margin-left:0;padding-top:var(--wp--preset--spacing--20);padding-right:var(--wp--preset--spacing--20);padding-bottom:var(--wp--preset--spacing--20);padding-left:var(--wp--preset--spacing--20);font-size:35px"><strong>Our Objectives</strong></p>

<p>To provide higher education students with technical experience related to their studies.<br>To offer companies motivated and scholarship-supported interns.<br>To be a source of cultural enrichment for interns and their host communities.</p>

<p class="has-text-align-left has-ast-global-color-5-color has-text-color has-background has-link-color wp-elements-f2d30c163ab0bd003a18fa3f3ca884dc" style="border-style:none;border-width:0px;border-radius:14px;background-color:#0b3d59;margin-top:var(--wp--preset--spacing--20);margin-right:0;margin-bottom:var(--wp--preset--spacing--20);margin-left:0;padding-top:var(--wp--preset--spacing--20);padding-right:var(--wp--preset--spacing--20);padding-bottom:var(--wp--preset--spacing--20);padding-left:var(--wp--preset--spacing--20);font-size:35px"><strong>Our Vision</strong></p>

<p>We build bridges between all cultures through technical experience.<br>Our Mission, Vision, Objectives and Values</p>

<p class="has-text-align-left has-ast-global-color-5-color has-text-color has-background has-link-color wp-elements-438b039e7a845346d1ee45610322fa93" style="border-style:none;border-width:0px;border-radius:14px;background-color:#0b3d59;margin-top:var(--wp--preset--spacing--20);margin-right:0;margin-bottom:var(--wp--preset--spacing--20);margin-left:0;padding-top:var(--wp--preset--spacing--20);padding-right:var(--wp--preset--spacing--20);padding-bottom:var(--wp--preset--spacing--20);padding-left:var(--wp--preset--spacing--20);font-size:35px"><strong>Our Values</strong></p>

<p>At IAESTE we are committed to fostering international understanding and forging the future of youth. Our core values are trust, commitment, diversity, growth and friendship.</p>

<p></p>

</div>
</div>